a{
  color: #08c;
}
.pageWrap{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.wrap{
  max-width: 1200px;
  margin: 0 auto;
}
.wrap img{
  max-width: 100%;
}
#logo{
  color: #fff;
  text-align: center;
  margin-bottom: 0;
}
.headerDivider{
  height: 44px;
  margin: 10px 0;
  float: left;
}
#nav{
  float: left;
  background: none;
  border: none;
  line-height: 62px;
  margin-left: 30px;
}
#nav a{
  color: #fff;
}
#nav .ant-menu-item-selected a{
  color: #1890ff;
}
#nav .ant-menu-item-active a:hover{
  color: #1890ff;
}
.xsNav{
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
.main{
  flex: 1;
}
.main .wrap{
  border: 1px solid #ccc;
  border-top: none;
  overflow: hidden;
}
.indexSlider{
  border-right: 1px solid #ccc; 
  padding-bottom: 9999px;
  margin-bottom: -9999px;
}
#indexMenu{
  border-right: none;
}
#indexMenu li{
  margin-right: -1px;
  transition: 0.2s;
  text-align: center;
  border-right: 3px solid transparent;
}
#indexMenu .ant-menu-item-selected,#indexMenu .ant-menu-item-active{
  border-right-color: #1890ff;
  background: #e6f7ff;
}
#indexXsMenu{
  display: flex;
}
#indexXsMenu li{
  flex: 1;
  float: none;
  text-align: center;
}
.indexList{
  padding: 0 10px;
}
.indexList p{
  margin: 0; 
}
.linkList .ant-card-body div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.linkList a{
  max-width: 400px;
}
.linkList a img{
  max-width: 400px;
}
.replyList .ant-list-item-meta-avatar {
  display: block;
}
.replyList .margin{
  margin: 0 5px;
}
.ant-list-item-action{
  margin-left: 48px;
}
.ant-list-item-meta{
  min-width: 200px;
  align-items: center;
}